# Gcode and custom macros
[include macro.cfg]

# Custom LCD menu, enabe if have mini 12864LCD
#[include menu.cfg]
#[include display.cfg]
[mcu]
# USB
serial: /dev/serial/by-id/YOUR_BOARD_ID_HERE
# UART
#serial: /dev/ttyAMA0
#restart_method: command

[force_move]
enable_force_move: False

[printer]
kinematics: corexy
max_velocity: 300 # 500 or 600 for 48v driver
max_accel: 15000
#max_accel_to_decel: 15000
max_z_velocity: 24
max_z_accel: 240
square_corner_velocity: 5

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT(M1)
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 128
full_steps_per_rotation:400 ##set to 200 for 1.8 degree stepper
endstop_pin: ~!PB14 ##Connected to X- position 3.3v
position_endstop: 185
position_max: 185
position_min : -4
homing_speed: 50
second_homing_speed: 5.0

[tmc2209 stepper_x]
uart_pin: PE7
run_current: 0.8
#hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##  Make sure to update below for your relevant driver (5160)
#[tmc5160 stepper_x] 
#spi_bus: spi4 
#cs_pin: PE7 
#interpolate: True
#diag1_pin: PB14 
#run_current: 0.800 
#hold_current: 0.500
##stealthchop_threshold: 0

[stepper_y]
##	Connected to Y-MOT(M2)
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 128
full_steps_per_rotation:400  ##set to 200 for 1.8 degree stepper
endstop_pin: ~!PB13 ##Connected to Y- position 3.3v
position_endstop: 202
position_max: 202
position_min : -1.2
homing_speed: 50
second_homing_speed: 5.0

[tmc2209 stepper_y]
uart_pin: PE15
#interpolate: true
run_current: 0.8
#hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##  Make sure to update below for your relevant driver (5160)
#[tmc5160 stepper_y] 
#spi_bus: spi4 
#cs_pin: PE15
##diag1_pin: PB13
#interpolate: True 
#run_current: 0.8
#hold_current: 0.7
##stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################
##	Connected to E0-MOT(M4) Position
[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
rotation_distance: 22.67895
gear_ratio: 5:1
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
min_temp: 0
max_temp: 385
max_power: 1.0
min_extrude_temp: 170
##      In E0 OUT Position
heater_pin: PB15
##PT100Step_Stick Connected to E4-MOT(M8) 
sensor_type: MAX31865
sensor_pin: PD11
spi_software_mosi_pin: PE14 ##spi_bus: TMC Drive
spi_software_miso_pin: PE13 ##spi_bus: TMC Drive
spi_software_sclk_pin: PE12 ##spi_bus: TMC Drive
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 3 ##2-wire connection set"2"
smooth_time: 1
pwm_cycle_time: 0.100
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040

##	Connected to E0-MOT(M4) Position
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.25
hold_current: 0.15
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

##	Connected to E1-MOT(M5) Position
##	Z Stepper
[stepper_z]
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 256
full_steps_per_rotation:400 
endstop_pin: probe:z_virtual_endstop
position_max: 185
position_min: -10
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC14
uart_address: 0
#interpolate: True
run_current: 0.6
#hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E2-MOT(M6) Position
##	Z1 Stepper
[stepper_z1]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 256
full_steps_per_rotation:400 

[tmc2209 stepper_z1]
uart_pin: PC15
#interpolate: true
run_current: 0.6
#hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E3-MOT(M7) Position
##	Z2 Stepper
[stepper_z2]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 256
full_steps_per_rotation:400 

[tmc2209 stepper_z2]
uart_pin: PA15
#interpolate: true
run_current: 0.6
#hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#	Probe
#####################################################################

#[probe]
##	Inductive Probe - If you use this section , please comment the [bltouch] section
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NC instead of NO, add change pin to ^PA3
#pin: ^!PA3
#x_offset: 0
#y_offset: 25.0
#z_offset: 0
#speed: 10.0
#samples: 3
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 3

#####################################################################
#	Bltouch
#####################################################################

[bltouch]
##	Bltouch - If you use this section , please comment the [probe] section
sensor_pin: ^PA0		##	In BlTouch port
control_pin: PA2
stow_on_each_sample: false
x_offset: -28
y_offset: -21
z_offset: 0
speed: 5
samples: 3
#samples_tolerance:
#samples_tolerance_retries:

[safe_z_home]
home_xy_position: 90,90 # Change coordinates to the center of your print bed
speed: 50
z_hop: 15                 # Move up 15mm
z_hop_speed: 15

[z_tilt]
# the point of the motor (or leadscrew)
z_positions:
	210, 90
	-30, 5 
	-30, 175
# probe point (nozzle) / X shift 30, y shift 5
points:
	175, 110
	55, 30
	55, 190
speed: 150
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075

[bed_mesh]
speed: 50
horizontal_move_z: 10
mesh_min: 0,0 # prob pos
mesh_max: 150, 180 # prob pos
probe_count: 6,6

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: NTC 100K MGB18-104F39050L32 #(Keenovo Spec)
sensor_pin: PB0 # Spider v2.x TB Position
smooth_time: 3.0
max_power: 0.8
min_temp: 0
max_temp: 150
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: PA13 # Spider v2.x
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: PA14 # Spider v2.x
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[fan_generic bed_fan]
##	Controller fan - FAN2 Connector
kick_start_time: 1
pin: PB2
cycle_time: 0.005
#hardware_pwm: True
#max_power: 0.5

[fan_generic filter_fan]
##  Exhaust fan - In E2 OUT Positon
pin: PB3
#max_power: 1.0
kick_start_time: 1.0
#fan_speed: 1.0

#####################################################################
#	LED Control
#####################################################################

#[output_pin caselight ]
##  Chamber Lighting - In 5V-RGB Position
#pin: PD3
#pwm: true
#shutdown_value: 0
#value:100
#cycle_time: 0.01

#####################################################################
#	Displays
#####################################################################

# ##	mini12864 LCD Display by Fysetc
# [display]
# lcd_type: uc1701
# cs_pin: PC11
# a0_pin: PD2
# rst_pin: PC10
# encoder_pins: ^PC6,^PC7
# click_pin: ^!PA8
# contrast: 63
# #spi_bus: spi1
# spi_software_mosi_pin: PA7
# spi_software_miso_pin: PA6
# spi_software_sclk_pin: PA5
# menu_timeout: 300
# menu_reverse_navigation:false
# menu_root: __menutree
# display_group: _custom_12864_16x4

# [neopixel lcd_led]
# #	To control Neopixel RGB in mini12864 display
# pin: PC12
# chain_count: 3
# initial_RED: 1.0
# initial_GREEN: 1.0
# initial_BLUE: 0.5
# color_order: RGB

# [output_pin BEEPER_pin]
# pin: PC9
# pwm: True
# value: 0
# shutdown_value: 0
# cycle_time: 0.001
# scale: 1000

#	Set RGB values on boot up for each Neopixel. 
#	Index 1 = display, Index 2 and 3 = Knob
# [delayed_gcode setdisplayneopixel]
# initial_duration: 1
# gcode:
#         SET_LED LED=lcd_led RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#         SET_LED LED=lcd_led RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#         SET_LED LED=lcd_led RED=1 GREEN=0 BLUE=0 INDEX=3 



[virtual_sdcard]
path: ~/gcode_files

[pause_resume]
recover_velocity: 50

[display_status]

[idle_timeout]
timeout: 1800
gcode:
  UPDATE_DELAYED_GCODE ID=POWER_DOWN DURATION=1 ; call auto power down after print done or canceled

[respond]
# enable M118 and RESPONSE command

# [input_shaper]
# shaper_freq_x: 78.6
# shaper_type_x: mzv
# shaper_freq_y: 52.6
# shaper_type_y: mzv





## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.787
#*# pid_ki = 0.811
#*# pid_kd = 86.871
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 46.476
#*# pid_ki = 2.604
#*# pid_kd = 207.397
