:root {
    --Primary:        #4bc3ca;
    --Secondary:      #44475a;
    --Green:          #41d561;
    --Red:            #f34f50;
    --Warnings:       #e37b00;
    --DarkGrey:       #c6c6c6;    
    --LightGrey:      #ffffff;
    --Background:     #28282b;
    --DarkBackground: #1e1e20;
    --Toolbars:       #2e2e32;
    --Sheets:         #28282b;
}


/* Change Color of text */
/* .v-btn__content .v-toolbar__title {
    color: var(--Primary) !important;
} */
.text--darken-2 {
    color: var(--Primary) !important;
}
/* .subheading {
    color: var(--Primary) !important;
} */
.v-btn__content, .v-text-field__suffix {
    color: var(--LightGrey) !important;
}
.v-btn__content .v-icon {
    color: var(--LightGrey) !important;
}

.theme--dark.v-icon {
    color: var(--LightGrey) !important;
}
.theme--dark.v-input, .theme--dark.v-input input, .theme--dark.v-input textarea {
    color: var(--LightGrey) !important;
}

/* Button icon */
.v-btn.grey .v-btn__content .theme--dark.v-icon {
    color: var(--Primary) !important;
}
.v-btn.error .v-btn__content .theme--dark.v-icon {
    color: var(--LightGrey) !important;
}
.v-btn.primary .v-btn__content .theme--dark.v-icon {
    color: var(--LightGrey) !important;
}

/* terminal */
.command.text--blue{
    color: var(--Primary) !important;
}


/* Navlink  */
.nav-link .v-icon{
    color: var(--Primary) !important;
}
.nav-link .nav-title{
    color: var(--LightGrey) !important;
}

/* toolbar */
.v-toolbar__content .v-icon {
    color: var(--Primary) !important;
}
.v-toolbar__content .subheading {
    color: var(--LightGrey) !important;
}

/* header */
#nav-header .v-toolbar__title{
    color: var(--LightGrey) !important;
}



/* Change Primary color */
.v-application .primary {
    background-color: var(--Primary) !important;
    border-color: var(--Primary) !important;
}
.v-application .primary--Primary {
    color: var(--Primary) !important;
    caret-color: var(--Primary) !important;
}
.v-application .blue--Primary {
    color: var(--Primary) !important;
    caret-color: var(--Primary) !important;
}
.v-application .info {
    background-color: var(--Primary) !important;
    border-color: var(--Primary) !important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot:focus-within {
    border: thin solid var(--Primary) !important;
}
.v-text-field.v-text-field--solo .v-input__control input {
    caret-color: var(--Primary);
}
.theme--dark.v-color-picker .v-color-picker__input input {
    border: thin solid var(--Primary);
    color: var(--Primary);
}


/* Change Secondary color */
.v-application .secondary {
    background-color: var(--Secondary) !important;
    border-color: var(--Secondary) !important;
}
.theme--dark.v-chip {
    color: var(--Primary) !important;
    background-color: var(--Secondary) !important;
}



/* Change Background and Toolbars */
body {
    background-color: var(--Background);
}
.v-sheet {
    border-color: var(--Background);
}


/* Darkest Color / Grey darkend */

.theme--dark.v-application {
    background: var(--DarkBackground);
    color: var(--Primary);
}
.v-application .grey.darken-3 {
    background-color: var(--DarkBackground) !important;
    border-color: var(--DarkBackground) !important;
}
.theme--dark.v-text-field--solo>.v-input__control>.v-input__slot {
    background: var(--DarkBackground) !important;
}
.theme--dark.v-data-table {
    background-color: var(--DarkBackground) !important;
}
.v-data-table>.v-data-table__wrapper>table  {
    background-color: var(--DarkBackground) !important;
}
.theme--dark.v-card {
    background-color: var(--DarkBackground);
}
.theme--dark.v-btn.v-btn--has-bg {
    background-color: var(--DarkBackground);
}


/* Sheets - such as "Controls" or "Temperatures */
.theme--dark.v-sheet {
    background-color: var(--Sheets);
}
.v-toolbar__content, .v-toolbar__extension {
    background-color: var(--Toolbars);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
}


/* The Icons
.mdi-set, .mdi:before {
    color: var(--Primary);
}
*/


/* vCard and subtitle Text Color */
.theme--dark.v-card .v-card__subtitle, .theme--dark.v-card>.v-card__text {
    color: var(--DarkGrey);
}

/* green elements */
.v-application .green--Primary {
    color: var(--Green) !important;
    caret-color: var(--Green) !important;
}
.v-application .green {
    background-color: var(--Green) !important;
    border-color: var(--Green) !important;
}
.v-application .green--Primary.text--darken-1 {
    color: var(--Green) !important;
    caret-color: var(--Green) !important;
}
.v-toast__item--success{
    background-color: var(--Green) !important;
    color: #000 !important;
}


/* warnings and orange elements */
.v-application button.warning {
    background: var(--Warnings) !important;
    background-color: var(--Warnings) !important;
    border-color: var(--Warnings) !important;
}
.theme--dark.warning--Primary {
    color: var(--Warnings) !important;
}
.v-toast__item--warning{
    background-color: var(--Warnings) !important;
}
.v-application .orange {
    background: var(--Warnings) !important;
    background-color: var(--Warnings) !important;
}


/* red elements */
.v-application .red {
    background-color: var(--Red) !important;
    border-color: var(--Red) !important;
}
.v-application .red--Primary.text--darken-1 {
    color: var(--Red) !important;
    caret-color: var(--Red) !important;
}
.v-application .red--Primary {
    color: var(--Red) !important;
    caret-color: var(--Red) !important;
}
.v-application .error {
    background-color: var(--Red) !important;
    border-color: var(--Red) !important;
}
.v-toast__item--error{
    background-color: var(--Red) !important;
}


/* Thermometer to Flask */
.mdi-thermometer-lines:before {
    content: "\F0828";
}
/* Heatbed to Flames */
.mdi-radiator-disabled:before {
    content: "\F0238";
    color: var(--Foreground);
}
/* Nozzle to Saw */
.mdi-printer-3d-nozzle:before {
    content: "\F0E22";
    color: var(--Foreground);
}
/* Snowflake to Reactory */
.mdi-snowflake:before {
    content: "\F0708";
}
/* Controls to Infected Hand */
.mdi-gamepad:before {
    content: "\F1258";
}
/* Home to Castle */
.mdi-home:before {
    content: "\F011A";
}
/* "Cog"/Gearwheel to Spider */
.mdi-cog:before {
    content: "\F11EA";
}
/* Dipswitch to Bloodbag */
.mdi-dip-switch:before {
    content: "\F0CEC";
}
/* Code-Tags to Spider-web */
.mdi-code-tags:before {
    content: "\F0BCA";
}
/* Information to Thunderbolt */
.mdi-information:before {
    content: "\F140C";
}
/* Fan to Knife */
.mdi-fan:before {
    content: "\F09FB";
}
/* Connection to magnet */
.mdi-connection:before {
    content: "\F0348";
}
/*Statistics to snake */ 
.mdi-chart-areaspline:before {
    content: "\F150E";
}
/* history to sparklies */
.mdi-history:before {
    content: "\F1545";
}
/* gcode-files */
.mdi-file-document-multiple-outline:before {
    content: "\F0E22";
}
